.header{
    background:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("../../Assets/Images/banner-image.jpg");
    background-size:cover;
    background-position:center;
    background-attachment:fixed;

}