nav {
  .container {
    .logo a {
      font-size: var(--description-small-screen-font);
      font-weight: var(--bold-weight);
      color: var(--btn-bg);
    }

    .universal-btn {
      margin-left: 4rem;
    }

    .menu-icon {
      display: none;
      font-size: var(--font-large);
      cursor: pointer;
      color: var(--btn-bg);
    }

    .centered-menu {
      .navigation-menu {
        ul {
          display: flex;
          li {
            padding: 0 1.4rem;
            a {
              font-size: var(--font-medium);
            }
          }
        }
      }
    }

    @media (max-width: 1070px) {
      .centered-menu {
        display: flex;
        position: absolute;
        top: 100%;
        width: 100%;
        flex-direction: column;
        left: -1rem;
        .navigation-menu {
          width: 100%;
          ul {
            flex-direction: column;
            width: 100%;
            li {
              height: 40px;
              padding: 0.2rem 1rem;
              padding-left:2rem;
              margin: 9px;
              margin-left:-30px;
              margin-right:0rem;
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 100%;
          

              cursor: pointer;
              border-bottom: 1px solid #ccc;
              a {
                color: var(--black);
              }
              p {
                margin-right:47px;
                font-size: 2rem;
              }
            }
          }
        }
      }

      .menu-icon {
        display: block;
      }
    }

  
   
  }
}
