@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

html {
  font-size: 62.5%;
}

:root {
  -description-large-screen-font: 3rem;
  -description-small-screen-font: 2rem;
  -headers-large-screen-font: 5rem;
  -description-small-screen-font: 3rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
