@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

html {
  font-size: 62.5%;
}

:root {
  --description-large-screen-font: 3rem;
  --description-small-screen-font: 2rem;
  --font-xlarge:5rem;
  --font-large:3rem;
  --font-medium:1.7rem;
  --description-small-screen-font: 3rem;
  --btn-bg:#e60d52;
  --white:#fff;
  --black:#000;

  --medium-weight:600;
  --bold-weight:700;

}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position:relative;
  padding:0.3rem 2rem;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
.flex{
  display:flex;
  align-items:center;
  justify-content:space-between;
  text-align:center;
  align-content:center;
}
.universal-btn{
  border:none;
  background:var(--btn-bg);
  color:var(--white);
  padding:1rem 5rem;
  cursor: pointer;
  font-weight:var(--medium-weight);
}
